.margin-top-20
{
	margin-top: 20px;
}
.typer-text {
        -webkit-animation-duration: 2s;
       -webkit-animation-delay: 0s;
}
.custom-content-wrapper p.desc
{
  margin-bottom: 0px !important;
}

.side-nav a 
{
  height: 38px;
}
.screenshots figcaption .caption-content 
{

 width: 300px !important;
 top: 50% !important;
}
.back-btn {
    text-align: left;
}

.single-project-img img
{
	
}
.no-left-padding
{
	padding-left: 0 !important;
}
.project-description i
{
	font-size: 27px !important;
    padding-right: 10px;
    display: inline-block !important;
    vertical-align: middle !important; 
}
.project-description p {
	display: inline;padding-left: 5px;
	    font-weight: 400;
}
.project-description li
{
	margin-bottom: 10px;
}
.project-description a
{
	color: #1abc9c;
}